<h1>Mis Ofertas</h1>

<%= render "tabs" %>

<% Bid.all.each do |bid| %>
    <div class="span2 well">
				<% if bid.user_id == current_user %>
				  <p><strong><%= bid.user_id.username %></strong> <%= bid.created_at.to_formatted_s(:db) %></p>
				  <%= bid.reason %>
				<% end %>
    </div>
<% end %>
