<% if current_user %>	
	<h1>Editar Perfil</h1>

	<%= render 'form' %>
	<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: '¿Estas Seguro?' } %> |
	<%= link_to 'Back', auctions_path %>
<%end%>
