<h1>Categorias</h1>

<%= render 'tabs' %>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-sm-9">Nombre</th>
			<th class="col-sm-2">Acción</th>
		</tr>
	</thead>

	<tbody>
		<% @category.each do |category| %>
			<tr>
				<td><%= category.nombre %></td>
				<td>
					<%= link_to "Editar", edit_category_path(category), class: 'btn btn-info' %>					

				  <%= link_to "Eliminar", category, method: :delete, data:{confirm:"¿Está seguro que desea borrar la #{category.nombre} seleccionada?"}, class: 'btn btn-danger' %>
				</td>
			</tr>
		<% end %>  
	</tbody>
</table>
