<h1>Categorias</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-md-3">Nombre</th>
			<th class="col-md-1">Acción</th>
		</tr>
	</thead>

	<tbody>
		<% categoria = Category.all %>
		<% categoria.each do |categoria| %>
			<tr>
				<td class="cold-md-3"><%= categoria.nombre %></td>

				<td class="cold-md-1"><%= link_to "Editar", edit_category_path(categoria), class: 'btn btn-info' %></td>
				
				<td class="cold-md-1"><%= link_to "Eliminar", categoria, method: :delete, data:{confirm:'¿Estás seguro?'}, class: 'btn btn-danger' %></td>
			</tr>
		<% end %>  
	</tbody>
</table>
