<%#= render 'form' %> 
<!--<hr width="0%" />-->

<h1>Resultados de la búsqueda</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-sm-8">Subasta</th>
			<th class="col-sm-4">Acción</th>
		</tr>
	</thead>

	<tbody>
		<%i=0%>
		<% Auction.all.each do |aux| %>
			<% if Time.now < aux.ends_at %>
				<% if aux.name.downcase().include? @nombre.downcase() %>
					<tr>
						<% if aux.category_id.to_i == @cat.to_i || @cat.to_i == 0 %>
							<td><%= aux.name %></td>
							<td><%= link_to "Ver", auction_path(aux) , class: 'btn btn-warning' %></td>
							<%i=i+1%>
						<% end %>
					</tr>
				<% end %>
				<% end %>
		<% end %>
		<% if i == 0%>
			<td> No se encontro ninguna subasta </td>
			<td> No se puede realizar ninguna acción </td>
		<% end %>
	</tbody>
</table>

